<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="TFSServerUri" value="http://MyTFSServer:8080/tfs"/>
    <add key="TFSCollectionName" value="Tosan"/>
    <add key=""/>
  </appSettings>
</configuration>